<%- include('partials/header') %>

<div class="text-center mt-5">
    <h1 class="display-4 fw-bold">Oud Inventory Manager</h1>
    <p class="lead mt-3">
        A simple and professional way to track, organize, and manage your oud and attar inventory.
    </p>

    <div class="mt-4">
        <a href="/oud" class="btn btn-primary btn-lg mx-2">View Inventory</a>
        <a href="/oud/add" class="btn btn-success btn-lg mx-2">Add New Oud</a>
    </div>

  
</div>

<%- include('partials/footer') %>
